
/*----------------------------------
        General Styles
------------------------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/subset-Raleway-Regular.eot');
    src: local('Raleway'), local('Raleway-Regular'),
    url('../fonts/subset-Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/subset-Raleway-Regular.woff2') format('woff2'),
    url('../fonts/subset-Raleway-Regular.woff') format('woff'),
    url('../fonts/subset-Raleway-Regular.ttf') format('truetype'),
    url('../fonts/subset-Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Raleway', sans-serif ;
}

.clearfix::before,
.clearfix::after,
.container::before,
.container::after,
[class*='layout-']::before,
[class*='layout-']::after{
    content: '';
    display: table;
    clear: both;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.column {
    float: left;
}

.layout-3-cols > .column {
    width: 33.33%;
}
.layout-2-cols > .column {
    width: 50%;
}

img {
    max-width: 100%;
}




/*----------------------------------
**********Header Styles*************
------------------------------------*/

.site-header {
    background-color: #000;
    color: white;
    margin: 3px;
}
.logo-text {
    padding: 0 100px;
    text-transform: uppercase;
}
.logo-text span {
    color: #25C8AD;
    font-weight: bold;
}

.logo-text p{
    padding: 15px 0;
}

.site-header ul {
    list-style: none;
}
.site-header li {
    list-style: none;
    display: inline-block;
    padding: 15px 0;
    text-transform: uppercase;
    float: right;
    margin-right: 100px;
}




/*----------------------------------
**********Logo Styles*************
------------------------------------*/

.logo {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+81,cccccc+100 */
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 81%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eeeeee 81%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eeeeee 81%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.chair-img {
    position: relative;
}
.chair-img img {
    margin-top: 50px;
    margin-left: 70px;
}
.chair-img p {
    font-size: 55px;
    color: #25C8AD;
    top: 55%;
    position: absolute;
}
.logo-description {
    margin-top: 150px;
    position: relative;
}
.logo-description h1 {
    text-transform: uppercase;
}
.logo-description span {
    color: #25C8AD;
    font-weight: bold;
}
.logo-short-description {
    padding: 15px 0;
    width: 350px;
}
.logo-button {
    color: white;
    background-color: #25C8AD;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-left: 75px;
}
.logo-description p:last-child {
    position: absolute;
    margin-top: -27px;
    right: 10%;
    top: 55%;
    font-size: 55px;
    color: #25C8AD;
}
.next-picture-right p {
    float: right;
    position: absolute;
    font-size: 45px;
    color: #25C8AD;
}


/*----------------------------------
**********first Offert Styles*************
------------------------------------*/

.first-offert {
    padding: 30px 100px;
}

.text-chair {
    position: relative;
    height: 50px;
    width: 100%;
    margin: -70px 20px 0 0;
    background-color: rgba(255,255,255,0.5);
}

.text-chair p {
    border-bottom: 5px solid #25C8AD;
    width: 150px;
    position: absolute;
    font-weight: bold;
    margin: 17px 0 0 20px;
}

.text-title {
    border: 0.4px solid grey;
    width: 329px;
    height: 225px;
    padding: 15px;
}
.text-title p{
    margin-top: 15px;
}
.text-title strong{
    border-bottom: 5px solid #25C8AD;
    width: 150px;
}


/*----------------------------------
**********Prices Styles*************
------------------------------------*/

.prices {
    padding: 30px 100px;
    background-color: #F1F1F1;
}
.price-name {
    border-bottom: 5px solid #25C8AD;
    width: 350px;
}

/* First Window with price : */

.first-window {
    width: 301px;
    height: 501px;
    border: 3px solid #CECED6;
    margin-top: 70px;
    background-color: #F9F9F9;
}
.first-window h1 {
    text-align: center;
    margin-top: 10px;
    color: #25C8AD;
    text-transform: uppercase;
}
.circle1 {
    border: 3px solid #CECED6;
    width: 80px;
    height: 80px;
    margin: -50px 0 0 110px;
    border-radius: 50%;
    background-color: #FFFFF0;
}
.circle2 {
    border: 3px solid #CECED6;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 17px 18px;
    background-color: #C2C2C2;
}
.circle3 {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    margin: 25px auto;
    border: 3px solid #CECED6;
}

.circle1-middle {
    width: 80px;
    height: 80px;
    margin: -50px 0 0 110px;
    border-radius: 50%;
    background-color: #27C7AB;
    position: absolute;
    padding: 20px 20px;
}
.circle2-middle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #fff;
}
.product1-seconds {
    width: 100%;
    color: #9B9B9B;
    padding: 10px 0;
    text-align: center;
    background-color: #fff;
}
.background-product1 {
    background-color: #F1F1F1 !important;
}

.price p{
    font-size: 20px;
    margin-top: 20px;
}
.circle3 p {
    font-size: 25px;
    padding: 40px 15px;
    text-align: center;
    font-weight: bold;
    color: #C2C2C2;
}

.product1 {
    width: 100%;
    color: #A8A8A8;
    padding: 10px 0;
    text-align: center;
    background-color: #E4E4E4;
}
.product1-second {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px 0;
    color: #9B9B9B;
}

/* Second Window with price : */

.second-window {
    width: 301px;
    height: 501px;
    border: 3px solid #25C8AD;
    margin-top: 70px;
    background-color: #27C7AB;
}
.second-window h1 {
    text-align: center;
    margin-top: 40px;
    color: #fff;
    text-transform: uppercase;
}

.second-circle2 p {
    color: #27C7AB;
}
.layout-3-cols sup {
    font-size: 10px;
}
.button-prices button {
    color: white;
    background-color: #25C8AD;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    position: relative;
    margin-top: 95px;
    margin-left: 100px;
    width: 100px;
}

.button-prices-two button {
    color: white;
    background-color: #25C8AD;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    position: relative;
    margin-top: 15px;
    margin-left: 100px;
    width: 100px;
}

.button-prices-third button {
    color: #25C8AD;
    background-color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    position: relative;
    margin-top: 55px;
    margin-left: 100px;
    width: 100px;
}



/*----------------------------------
**********Contact Styles*************
------------------------------------*/


.inputs-contact {
    padding: 25px 0;
}
.inputs-contact input{
    margin-top: 15px;
}

.inputs-contact input[type=text] {
    width: 500px;
    padding: 20px;
    border: 2px solid #27C7AB;
    opacity: 0.3;
}
.text-area-contact {
    height: 200px;
}
.accept-rules {
    margin-left: 100px;
}

.accept-rules img:nth-of-type(2){
    border: 2px solid #27C7AB;
    float: left;
    padding: 2px;
}
.accept-rules p {
    padding: 15px;
    width: 300px;
    margin-left: 50px;
}

.accept-rules button {
    width: 300px;
    height: 50px;
    text-transform: uppercase;
    border: none;
    background-color: #27C7AB;
    color: white;
}

.price-name2 {
    border-bottom: 5px solid #25C8AD;
    width: 350px;
    margin-top: 25px;
}

/*Placeholder*/

.inputs-contact input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 20px;
}
.inputs-contact input::-moz-placeholder { /* Firefox 19+ */
    font-size: 20px;
}
.inputs-contact input:-ms-input-placeholder { /* IE 10+ */
    font-size: 20px;
}
.inputs-contact input:-moz-placeholder { /* Firefox 18- */
    font-size: 20px;
}



/*----------------------------------
**********Footer Styles*************
------------------------------------*/


footer {
    padding: 15px;
}

.fonts-images {
    margin-left: 250px;
}

.site-footer h3{
    float: right;
    margin-top: 5px;
    font-weight: 300;
    text-transform: uppercase;
    color: #9B9B9B;
}
.site-footer span {
    font-weight: bold;
    text-transform: uppercase;
    color: #9B9B9B;
}
.site-footer p {
    color: #9B9B9B;
    margin-top: 5px;
}











